:root {
  --vh: 1vh;
}

button {
  cursor: pointer;
}
button:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

body {
  background-color: #FCF5DB;
  font-family: "Poppins", sans-serif;
  color: #565348;
  transition: all 1s;
  overflow: hidden auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rotateTransition {
  -webkit-animation: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgba(252, 245, 219, 0.71); /* Color con 41% de opacidad */
  backdrop-filter: blur(8px); /* Aplica el desenfoque */
  -webkit-backdrop-filter: blur(8px); /* Compatibilidad con Safari */
  height: 70px;
  margin-top: 15px;
  width: 92vw;
  border-radius: 15px;
  position: fixed;
  transform: translateY(-90px); /* Oculta la `navbar` por defecto */
  transition: background 0.3s cubic-bezier(0.65, 0, 0.35, 1), transform 0.5s ease-in-out 1.5s;
  transition-delay: transform 0.5s;
  border: solid 1px #DDDCC3;
  z-index: 3;
}
header .navbar {
  height: 50%;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar .logoHeader {
  height: 90%;
  cursor: pointer;
}
header .navbar .navbarItems {
  display: none;
}
header .navbar .buttonBurgerMenu {
  background-color: #1C3325;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.65, 0, 0.35, 1);
  width: 1.5rem;
  display: flex;
  justify-content: right;
  align-items: center;
}
header .navbar .buttonBurgerMenu:focus {
  outline: none;
}
header .navbar .buttonBurgerMenu .buttonBurgerMenu-icon {
  background-image: url(../assets/svg/hamburguerMenu.svg);
  height: 40%;
  transition: all 0.3s;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
header .navbar .buttonBurgerMenu .burger {
  width: 100%;
  height: 80%;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: right;
  align-items: center;
}
header .navbar .buttonBurgerMenu .burger span {
  display: block;
  position: absolute;
  height: 3px;
  background-color: #828078;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
header .navbar .buttonBurgerMenu .burger span:nth-child(1), header .navbar .buttonBurgerMenu .burger span:nth-child(3) {
  width: 100%;
}
header .navbar .buttonBurgerMenu .burger span:nth-child(2) {
  width: 80%;
  top: 50%;
  transform: translateY(-50%);
}
header .navbar .buttonBurgerMenu .burger span:nth-child(1) {
  top: 6px;
}
header .navbar .buttonBurgerMenu .burger span:nth-child(3) {
  bottom: 6px;
}
header .navbar .buttonBurgerMenu .burger.open span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
header .navbar .buttonBurgerMenu .burger.open span:nth-child(2) {
  opacity: 0;
}
header .navbar .buttonBurgerMenu .burger.open span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.fullMenuHamburguerWithOverlay-opacity {
  opacity: 1 !important;
  visibility: visible !important;
}

.fullMenuHamburguerWithOverlay {
  position: fixed;
  opacity: 0;
  padding-top: 15px;
  padding-inline: 15px;
  transition: all 0.2s;
  visibility: hidden;
  height: 100%;
  width: 100%;
  z-index: 2;
  pointer-events: auto;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
}
.fullMenuHamburguerWithOverlay .optionsNavbar-transformY {
  transform: translateY(0%) !important;
}
.fullMenuHamburguerWithOverlay .optionsNavbar {
  border-radius: 15px;
  transform: translateY(-100%);
  padding-top: 0vh;
  margin-top: 85px;
  background-color: #FCF5DB;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.2s;
  align-items: center;
  border-bottom: solid 1px #BEC3AB;
}
.fullMenuHamburguerWithOverlay .optionsNavbar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--vh) * 1 * 1);
  margin-block: 1.7rem;
  width: 80%;
}
.fullMenuHamburguerWithOverlay .optionsNavbar ul li {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  cursor: pointer;
  border: 1px #BEC3AB solid;
  border-radius: 15px;
}
.fullMenuHamburguerWithOverlay .optionsNavbar ul li a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding-inline: 8vw;
}
.fullMenuHamburguerWithOverlay .optionsNavbar ul li a p {
  font-weight: 500;
}
.fullMenuHamburguerWithOverlay .optionsNavbar ul #buyButtonMenu button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-inline: 8vw;
  cursor: pointer;
  background-color: #2C503A;
  border-radius: 15px;
  border: solid 1px #1C3325;
}
.fullMenuHamburguerWithOverlay .optionsNavbar ul #buyButtonMenu button p {
  font-size: 14px;
  font-weight: 500;
  color: #FCF5DB;
  font-family: "Poppins", sans-serif;
}
.fullMenuHamburguerWithOverlay .optionsNavbar ul #buyButtonMenu button div {
  height: 100%;
  width: 1rem;
  background-image: url(../assets/svg/purchaseIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.fullMenuHamburguerWithOverlay .overlayMenuHamburguer-opacity {
  opacity: 1 !important;
}
.fullMenuHamburguerWithOverlay .overlayMenuHamburguer {
  opacity: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); /* Oscurecer */
  backdrop-filter: blur(5px); /* Efecto de desenfoque */
}

.bluredOn {
  filter: blur(5px);
}

.show {
  opacity: 1 !important;
}

.showModalTranslate {
  transform: translateY(0%) !important;
}

.popupHomeEmailBackground {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(var(--vh) * 1 * 100);
  transition: all 0.5s;
  z-index: 3;
  opacity: 0;
}
.popupHomeEmailBackground .popupHomeEmail {
  background-color: #FCF5DB;
  border: 1px solid #CAC4AF;
  border-radius: 30px;
  width: 90%;
  transition: all 0.5s;
  transform: translateY(-25%);
  padding-block: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.popupHomeEmailBackground .popupHomeEmail h3 {
  font-size: 16px;
  width: 80%;
  font-weight: 600;
}
.popupHomeEmailBackground .popupHomeEmail p {
  font-size: 14px;
  width: 80%;
}
.popupHomeEmailBackground .popupHomeEmail p strong {
  font-weight: 600;
}
.popupHomeEmailBackground .popupHomeEmail form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.popupHomeEmailBackground .popupHomeEmail form input {
  font-family: "Poppins", sans-serif;
  border-radius: 13px;
  border: solid 1px #C3C1B8;
  padding-block: 1rem;
  font-size: 14px;
  width: 80%;
  background-color: #F4EED4;
  color: #838071;
  padding-inline: 1rem;
  outline: none;
}
.popupHomeEmailBackground .popupHomeEmail form input:focus {
  border-color: #838071;
}
.popupHomeEmailBackground .popupHomeEmail form div {
  display: flex;
  width: 80%;
  gap: 1rem;
}
.popupHomeEmailBackground .popupHomeEmail form div .btnSubmitEmail {
  font-weight: 400;
  color: #FCF5DB;
  width: 60%;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  border-radius: 13px;
  background-color: #2C503A;
  border: 1px solid #1C3325;
  padding-block: 1rem;
}
.popupHomeEmailBackground .popupHomeEmail form div .btnCloseEmail {
  font-size: 14px;
  font-weight: 400;
  color: #838071;
  background-color: transparent;
  border: 1px solid #838071;
  width: 40%;
  font-family: "Poppins", sans-serif;
  border-radius: 13px;
  border: solid 1.5px #C3C1B8;
  padding-block: 1rem;
}

main {
  position: relative;
  z-index: 1;
}
main .heroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.5%;
  overflow-x: hidden;
  height: calc(var(--vh) * 1 * 100);
  flex-direction: column;
  width: 100%;
}
main .heroContainer .plantHero1 {
  height: 40%;
  width: 100%;
  background-image: url(../assets/svg/heroMarron.svg);
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
  background-size: contain;
  opacity: 0.5;
  animation-delay: 1s;
}
main .heroContainer .plantHero2 {
  height: 30%;
  opacity: 0;
  width: 100%;
  background-image: url(../assets/svg/hero/HEroBottom.svg);
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  background-size: contain;
}
main .heroContainer .heroContent {
  width: 80%;
  position: relative;
  top: 30px;
  height: 80%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: calc(var(--vh) * 1 * 4.5);
}
main .heroContainer .heroContent h1 {
  width: 100%;
  font-weight: 600;
  line-height: 1;
  font-size: 36px;
  animation-delay: 0.2s;
  text-align: center;
}
main .heroContainer .heroContent h1 strong {
  font-weight: 700;
}
main .heroContainer .heroContent span {
  display: block;
  background-color: #2C503A;
  border: 2px solid #1C3325;
  height: 0.3rem;
  width: 5.5rem;
  animation-delay: 0.5s;
  transition: all 0.5s;
}
main .heroContainer .heroContent span:hover {
  width: 6.5rem;
}
main .heroContainer .heroContent h3 {
  font-weight: 500;
  font-size: 16px;
  animation-delay: 1s;
  text-align: center;
}
main .heroContainer .heroContent h3 strong {
  font-weight: 600;
}
main .heroContainer .heroContent .buttonsContainerHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
main .heroContainer .heroContent .buttonsContainerHero button {
  width: 11.5rem;
  border: none;
  background: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border-radius: 18px;
  padding-block: 1rem;
  cursor: pointer;
}
main .heroContainer .heroContent .buttonsContainerHero .majorButtonHero {
  font-weight: 500;
  color: #FCF5DB;
  background-color: #2C503A;
  border: solid 1px #2C503A;
  animation-delay: 1.5s;
  transition: 0.5s;
}
main .heroContainer .heroContent .buttonsContainerHero .majorButtonHero:hover {
  background-color: #213c2b;
}
main .welcomeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: calc(var(--vh) * 1 * 10);
  width: 100%;
}
main .welcomeSection .welcomeSectionTitle {
  text-align: center;
}
main .welcomeSection .welcomeSectionSubtitle {
  text-align: center;
  margin-block: 20px;
}
main .welcomeSection .welcomeSection-button {
  width: 11.5rem;
  border: none;
  background: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border-radius: 18px;
  padding-block: 1rem;
  cursor: pointer;
  font-weight: 500;
  color: #FCF5DB;
  background-color: #2C503A;
  border: solid px #1C3325;
  animation-delay: 0.5s;
  transition: 0.5s;
}
main .welcomeSection .welcomeSection-button:hover {
  background-color: #213c2b;
}
main .welcomeSection .wsDesktop {
  display: none;
}
main .welcomeSection .welcomeSection-textAndButton {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .welcomeSection .welcomeSection-textAndButton p {
  margin-block: 20px;
}
main .welcomeSection .welcomeSection-image {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .welcomeSection .welcomeSection-image img {
  width: 70%;
  margin-bottom: 20px;
}
main .welcomeSection h3 {
  width: 80%;
}
main .welcomeSection p {
  width: 80%;
  font-size: 14px;
  color: #888474;
  font-weight: 400;
}
main .welcomeSection p strong {
  font-weight: 600;
}
main .welcomeSection .chatBotPresentation {
  width: 80%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: calc(var(--vh) * 1 * 2);
}
main .welcomeSection .chatBotPresentation .chatBotPresentation-message1 {
  display: flex;
  justify-content: end;
}
main .welcomeSection .chatBotPresentation .chatBotPresentation-message1 div {
  width: 85%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: calc(var(--vh) * 1 * 2);
  align-items: center;
  background-color: #E0DBC6;
  border: 1px solid #CAC4AF;
  border-radius: 15px 0px 15px 15px;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.16);
  padding: 1.25rem;
}
main .welcomeSection .chatBotPresentation .chatBotPresentation-message1 div p {
  font-size: 12px;
  width: auto;
  color: #565348;
  width: 100%;
}
main .welcomeSection .chatBotPresentation .chatBotPresentation-message1 div img {
  width: 100%;
  aspect-ratio: 1;
}
main .welcomeSection .chatBotPresentation .chatBotPresentation-message1 div div {
  background-color: transparent;
  background-image: url(../assets/svg/plantPhotoChat.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(var(--vh) * 1 * 30);
}
main .welcomeSection .chatBotPresentation .chatBotPresentation-message2 {
  display: flex;
  justify-content: start;
}
main .welcomeSection .chatBotPresentation .chatBotPresentation-message2 div {
  width: 85%;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #2C503A;
  border: 1px solid #1C3325;
  border-radius: 0px 15px 15px 15px;
  padding: 1.25rem;
}
main .welcomeSection .chatBotPresentation .chatBotPresentation-message2 div p {
  font-size: 12px;
  color: #FCF5DB;
  width: auto;
}
main .welcomeSection .chatBotPresentation .chatBotPresentation-message3 {
  display: flex;
  justify-content: end;
}
main .welcomeSection .chatBotPresentation .chatBotPresentation-message3 img {
  width: 85%;
  filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.16));
}
main .welcomeSection .chatBotPresentation .chatBotPresentation-message3 div {
  width: 85%;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #2C503A;
  border: 1px solid #1C3325;
  border-radius: 0px 15px 15px 15px;
  padding: 1.25rem;
}
main .welcomeSection .chatBotPresentation .chatBotPresentation-message3 div p {
  font-size: 12px;
  color: #FCF5DB;
  width: auto;
}
main .listenGrowContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: calc(var(--vh) * 1 * 5);
  width: 100%;
}
main .listenGrowContainer .listenGrowContent {
  display: flex;
  flex-direction: column;
  width: 80%;
}
main .listenGrowContainer .listenGrowContent .title-listenGrowContent {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}
main .listenGrowContainer .listenGrowContent .subtitle-listenGrowContent {
  font-size: 14px;
  color: #888474;
  margin-bottom: calc(var(--vh) * 1 * 3);
  font-weight: 400;
  text-align: center;
}
main .listenGrowContainer .listenGrowContent .parametersAndImageContainer #responsiveImageCardParameter {
  display: none;
}
main .listenGrowContainer .listenGrowContent .parametersAndImageContainer .cardsParametersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--vh) * 1 * 2);
}
main .listenGrowContainer .listenGrowContent .parametersAndImageContainer .cardsParametersContainer .cardParameter {
  display: grid;
  width: 115%;
  grid-template-columns: 25% 75%;
  background-color: #EDE7CE;
  border: 1px solid #BCBAB3;
  height: 8rem;
  border-radius: 20px;
  transition: 0.5s;
}
main .listenGrowContainer .listenGrowContent .parametersAndImageContainer .cardsParametersContainer .cardParameter:hover {
  background-color: #D5D0B9;
}
main .listenGrowContainer .listenGrowContent .parametersAndImageContainer .cardsParametersContainer .cardParameter img {
  align-self: center;
  justify-self: center;
}
main .listenGrowContainer .listenGrowContent .parametersAndImageContainer .cardsParametersContainer .cardParameter p {
  font-weight: 400;
  width: 90%;
  align-self: center;
  font-size: 14px;
  color: #888474;
}
main .listenGrowContainer .listenGrowContent .parametersAndImageContainer .cardsParametersContainer .cardParameter p strong {
  font-weight: 500;
  color: #565348;
}
main .FAQAndFinalPopup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(var(--vh) * 1 * 5);
}
main .againPopUpEmailFinal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-image: url(../assets/svg/backgroundLastPopup.svg);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  width: 85%;
  height: calc(var(--vh) * 1 * 20);
  border: solid 1px #999483;
  margin-block: 0;
}
main .againPopUpEmailFinal p {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  width: 60%;
}
main .againPopUpEmailFinal button {
  background-color: #F4EDD4;
  color: #7C7B67;
  font-family: "Poppins", sans-serif;
  width: 70%;
  font-size: 14px;
  border: solid 1px #7C7B67;
  border-radius: 15px;
  padding-block: 1.25rem;
  transition: all 0.5s;
}
main .againPopUpEmailFinal button:hover {
  color: #5c4d4d;
  background-color: #e4dec7;
  border: solid 1px #5c5c4d;
}

.communitySection h3 {
  text-align: center;
  margin-bottom: 20px;
}
.communitySection p {
  text-align: center;
}
.communitySection div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.communitySection div .communitySection-desktop {
  display: none;
}
.communitySection div img {
  margin-top: 20px;
}
.communitySection button {
  margin-top: 20px;
}

.steps {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: calc(var(--vh) * 1 * 5);
  position: relative;
  z-index: 1;
}
.steps .allStepsAndImage img {
  display: none;
}
.steps .steps-title {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.steps .steps-title h3 {
  width: 80%;
  font-size: 18px;
}
.steps .step-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.steps .step {
  display: flex;
  flex-direction: column;
  position: relative;
}
.steps .step .step-number-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  z-index: 1;
  gap: 1rem;
  overflow: hidden;
}
.steps .step .step-number-title p {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 100%;
  text-align: center;
  background-color: #2C503A;
  color: #FCF5DB;
  width: 8%;
  aspect-ratio: 1;
  font-weight: 500;
  font-size: 14px;
}
.steps .step .step-number-title h4 {
  font-weight: 600;
  font-size: 16px;
  width: 70%;
}
.steps .step .step-content {
  display: flex;
  justify-content: center;
  min-height: calc(var(--vh) * 1 * 10);
  gap: 1rem;
}
.steps .step .step-content div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8%;
}
.steps .step .step-content div span {
  height: 100%;
  width: 4px;
  background-color: #1C3325;
}
.steps .step .step-content .step-text-paddingBottom {
  padding-bottom: 2rem;
}
.steps .step .step-content p {
  width: 70%;
  color: #565348;
  font-size: 14px;
}
.steps .step #last-step-content {
  min-height: auto;
}
.steps .step:last-child::before {
  display: none;
}

.FAQSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.FAQSection h2 {
  width: 80%;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}
.FAQSection .accordion {
  width: 85%;
  margin: 0 auto;
}
.FAQSection .accordion .accordion-item {
  border: 1px solid #999483;
  border-radius: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  transition: all 0.5s;
}
.FAQSection .accordion .accordion-item:hover {
  background-color: rgba(228, 222, 199, 0.5019607843);
}
.FAQSection .accordion .accordion-item .accordion-header {
  background: transparent;
  color: #999483;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s ease;
  padding-block: 1.25rem;
  padding-inline: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
  text-align: left;
}
.FAQSection .accordion .accordion-item .accordion-header .icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  transition: transform 0.3s ease;
}
.FAQSection .accordion .accordion-item .accordion-header.accordion-header-active {
  color: #565348 !important;
}
.FAQSection .accordion .accordion-item .accordion-content {
  max-height: calc(var(--vh) * 1 * 0);
  overflow: hidden;
  padding: 0 20px;
  color: #999483;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  transition: max-height 0.5s ease, padding 0.5s ease;
}
.FAQSection .accordion .accordion-item .accordion-content p {
  font-weight: 400;
}
.FAQSection .accordion .accordion-item.open .accordion-header {
  color: #000000;
}
.FAQSection .accordion .accordion-item.open .accordion-header .icon {
  transform: rotate(-180deg);
}
.FAQSection .accordion .accordion-item.open .accordion-content {
  max-height: calc(var(--vh) * 1 * 80);
  padding-bottom: 15px;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.focusIn {
  -webkit-animation: text-focus-in 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: text-focus-in 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
.scaleInSeparator {
  -webkit-animation: scale-in-hor-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-hor-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation: fade-in-fwd 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes show-in {
  0% {
    opacity: 0;
    scale: 10%;
  }
  100% {
    opacity: 1;
    scale: 100%;
  }
}
@keyframes show-in {
  0% {
    opacity: 0;
    scale: 10%;
  }
  100% {
    opacity: 1;
    scale: 100%;
  }
}
.showIn {
  -webkit-animation: show-in 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) both;
  animation: show-in 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.slideInNotBlur {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) both;
  animation: slide-in-left 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
.swingIn {
  -webkit-animation: swing-in-top-fwd 1s 0.5s both;
  animation: swing-in-top-fwd 1s 0.5s both;
}

@-webkit-keyframes slide-out-blurred-left {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}
@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
.scaleInVerTop {
  -webkit-animation: scale-in-ver-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-ver-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.slideInRight {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 1;
  }
}
.fadeInRight {
  -webkit-animation: fade-in-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 1;
  }
}
.fadeInLeft {
  -webkit-animation: fade-in-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes rotate-menu-hamburger {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.rotateMenu {
  -webkit-animation: rotate-menu-hamburger 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: rotate-menu-hamburger 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes slide-in-elliptic-left-fwd {
  0% {
    -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
    transform: translateX(-800px) rotateY(30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 1800px 50%;
    transform-origin: 1800px 50%;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-left-fwd {
  0% {
    -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
    transform: translateX(-800px) rotateY(30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 1800px 50%;
    transform-origin: 1800px 50%;
    opacity: 1;
  }
}
.slide-in-elliptic-left-fwd {
  -webkit-animation: slide-in-elliptic-left-fwd 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-left-fwd 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
.slide-in-blurred-left {
  -webkit-animation: slide-in-blurred-left 1s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-left 1s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
.slide-in-blurred-right {
  -webkit-animation: slide-in-blurred-right 1s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-right 1s cubic-bezier(0.23, 1, 0.32, 1) both;
}

:root {
  --vh: 1vh;
}

footer {
  background-color: #E3DCC5;
  border-top: 1px solid #C1BBA7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footerContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-block: calc(var(--vh) * 4);
  width: 80%;
  gap: calc(var(--vh) * 4);
}
footer .footerContent h3 {
  font-weight: 700;
}
footer .footerContent a {
  font-size: 14px;
  font-weight: 500;
}
footer .footerContent .logoFooter {
  height: 2.5rem;
  object-fit: contain;
}
footer .footerContent .socialMediaFooter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .footerContent .socialMediaFooter ul {
  display: flex;
  gap: 1rem;
}
footer .footerContent .socialMediaFooter ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EBE5C9;
  border: 1px solid #BCB7A1;
  border-radius: 30px;
  height: 3.5rem;
  width: 3.5rem;
}
footer .footerContent .socialMediaFooter ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footerContent .socialMediaFooter ul li img {
  width: 40%;
}
footer .footerContent .exploreFooter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .footerContent .exploreFooter ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
footer .footerEndPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #CCC6B1;
  padding-block: 2rem;
  gap: 10px;
}
footer .footerEndPage p {
  width: 90%;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}
footer .footerEndPage .developedByText {
  color: #84827C;
}

:root {
  --vh: 1vh;
}

@media (min-width: 768px) {
  h3 {
    font-size: 18px !important;
  }
  p, button, li, a, input {
    font-size: 16px !important;
  }
  /* Tabletas */
  body .popupHomeEmailBackground .popupHomeEmail {
    width: 55%;
  }
  body main .FAQSection .againPopUpEmailFinal {
    width: 70%;
  }
  body main .welcomeSection h3 {
    width: 70%;
  }
  body main .welcomeSection p {
    width: 70%;
  }
  body main .welcomeSection .chatBotPresentation {
    width: 50%;
  }
  body main .againPopUpEmailFinal button {
    width: 70%;
  }
  body main .listenGrowContainer .listenGrowContent {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  body main .listenGrowContainer .listenGrowContent .title-listenGrowContent {
    width: 100%;
  }
  body main .listenGrowContainer .listenGrowContent .parametersAndImageContainer {
    width: 100%;
  }
  body main .listenGrowContainer .listenGrowContent .parametersAndImageContainer .cardsParametersContainer .cardParameter {
    width: 100%;
  }
  body main .listenGrowContainer .listenGrowContent .parametersAndImageContainer .cardsParametersContainer .cardParameter:hover {
    transform: translateX(5%);
  }
  header {
    height: 80px;
  }
  header .navbar {
    width: 90%;
  }
  body main .listenGrowContainer .listenGrowContent {
    align-items: center;
  }
  body main .listenGrowContainer .listenGrowContent .subtitle-listenGrowContent {
    width: 75%;
  }
  body main .listenGrowContainer .listenGrowContent .parametersAndImageContainer .cardsParametersContainer .cardParameter {
    width: 75%;
  }
  .buttonBurgerMenu .burger span:nth-child(2) {
    width: 80%;
    top: 50%;
    transform: translateY(-50%);
  }
  .buttonBurgerMenu .burger span:nth-child(1) {
    top: 6px;
  }
  .buttonBurgerMenu .burger span:nth-child(3) {
    bottom: 6px;
  }
  .buttonBurgerMenu .burger.open span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  .buttonBurgerMenu .burger.open span:nth-child(2) {
    opacity: 0;
  }
  .buttonBurgerMenu .burger.open span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }
  .fullMenuHamburguerWithOverlay .optionsNavbar {
    height: calc(var(--vh) * 1 * 7) ul;
    height-width: 70%;
  }
  .steps .steps-title h4 {
    width: 70%;
  }
  .steps .step .step-number-title h4 {
    width: 65%;
  }
  .steps .step .step-number-title p {
    width: 4%;
  }
  .steps .step .step-content div {
    width: 4%;
  }
  .steps .step .step-content p {
    width: 65%;
  }
  .FAQSection h2 {
    width: 70%;
  }
  .FAQSection .accordion {
    width: 70%;
  }
  footer .footerContent {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  /* Laptops */
  body .popupHomeEmailBackground .popupHomeEmail {
    width: 40%;
  }
  header {
    width: 72.5%;
  }
  header .navbar .navbarItems {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 400;
  }
  header .navbar .navbarItems .navbarButtonComoFunciona {
    opacity: 0.7;
    transition: 0.5s;
  }
  header .navbar .navbarItems .navbarButtonComoFunciona:hover {
    opacity: 1;
  }
  header .navbar .navbarItems .navbarButtonFAQ {
    opacity: 0.7;
    transition: 0.5s;
  }
  header .navbar .navbarItems .navbarButtonFAQ:hover {
    opacity: 1;
  }
  header .navbar .navbarItems li {
    font-size: 14px;
    width: auto;
    cursor: pointer;
    font-weight: 500;
    color: #565348;
  }
  header .navbar .navbarItems li button {
    cursor: pointer;
    background-color: #2C503A;
    color: #FCF5DB;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    border-radius: 15px;
    padding-block: calc(var(--vh) * 1 * 1);
    padding-inline: 1.5rem;
    border: 1px solid #1C3325;
    transition: 0.5s;
  }
  header .navbar .navbarItems li button:hover {
    background-color: #213c2b;
    border: 1px solid #16281d;
  }
  header .navbar .buttonBurgerMenu {
    display: none;
  }
  main .heroContainer .plantHero1 {
    height: 60%;
  }
  main .heroContainer .plantHero2 {
    height: 60%;
  }
  main .heroContainer .heroContent .buttonsContainerHero {
    flex-direction: row;
    gap: 20px;
  }
  main .welcomeSection .welcomeSection-image img {
    width: 35%;
  }
  main .steps {
    display: flex;
    align-items: center;
  }
  main .steps .steps-title {
    width: 100%;
  }
  main .steps .allStepsAndImage {
    width: 85%;
  }
}
@media (min-width: 1440px) {
  /* Monitores grandes */
  body .popupHomeEmailBackground .popupHomeEmail {
    width: 35%;
  }
  body main .sectionSmartphone1 {
    flex-direction: row;
    gap: 4rem;
  }
  body main .sectionSmartphone1 .welcomeSection-textAndButton {
    justify-content: end;
    width: 30%;
    align-items: end;
  }
  body main .sectionSmartphone1 .welcomeSection-textAndButton h3 {
    width: 100%;
    text-align: end;
  }
  body main .sectionSmartphone1 .welcomeSection-textAndButton p {
    width: 100%;
    text-align: end;
  }
  body main .sectionSmartphone1 .welcomeSection-textAndButton .wsDesktop {
    display: block;
  }
  body main .sectionSmartphone1 .welcomeSection-image {
    width: 25%;
  }
  body main .sectionSmartphone1 .welcomeSection-image img {
    width: 100%;
  }
  body main .sectionSmartphone1 .welcomeSection-image .wsMobile {
    display: none;
  }
  body main .communitySection {
    display: flex;
    flex-direction: row;
  }
  body main .communitySection .welcomeSection-image {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
  body main .communitySection .welcomeSection-image img {
    width: 25%;
  }
  body main .communitySection .welcomeSection-image div {
    width: 30%;
  }
  body main .communitySection .welcomeSection-image div h3 {
    text-align: left;
    width: 100%;
  }
  body main .communitySection .welcomeSection-image div p {
    text-align: left;
    width: 100%;
  }
  body main .communitySection .communitySection-mobile {
    display: none;
  }
  body main .communitySection div .communitySection-desktop {
    display: block;
  }
  body main .FAQSection .FAQAndFinalPopup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 15px;
    width: 70%;
  }
  body main .FAQSection .FAQAndFinalPopup .pregFrecContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
  }
  body main .FAQSection .FAQAndFinalPopup .pregFrecContainer .accordion {
    width: 100%;
  }
  body main .FAQSection .FAQAndFinalPopup .pregFrecContainer .accordion .accordion-item {
    margin-bottom: 0;
  }
  body main .FAQSection .FAQAndFinalPopup .againPopUpEmailFinal {
    background-image: url(../assets/svg/backgroundLastPopup.svg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    width: 50%;
    flex-grow: 1;
    height: auto;
    border: solid 1px #999483;
    margin-block: 0;
  }
  body main .FAQSection .FAQAndFinalPopup .againPopUpEmailFinal button {
    width: 60%;
    background-color: #FCF5DB;
    color: #7C7B67;
    border: solid 1px #7C7B67;
  }
  body main .FAQSection .FAQAndFinalPopup .againPopUpEmailFinal button:hover {
    color: #5c4d4d;
    background-color: rgba(228, 222, 199, 0.5019607843);
    border: solid 1px #5c5c4d;
  }
  body main .welcomeSection .chatBotPresentation {
    width: 25%;
  }
  body main .listenGrowContainer .listenGrowContent .parametersAndImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body main .listenGrowContainer .listenGrowContent .parametersAndImageContainer .cardsParametersContainer {
    width: 80%;
  }
  body main .listenGrowContainer .listenGrowContent .parametersAndImageContainer #responsiveImageCardParameter {
    display: block;
    mask-image: linear-gradient(to right, transparent 5%, black 15%, black 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 5%, black 15%, black 100%);
    max-width: 60%;
  }
  body main .steps {
    align-items: center;
  }
  body main .steps .steps-title {
    width: 100%;
    justify-content: center;
  }
  body main .steps .allStepsAndImage {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  body main .steps .allStepsAndImage .allSteps .step-container .step .step-number-title {
    justify-content: start;
  }
  body main .steps .allStepsAndImage .allSteps .step-container .step .step-content {
    justify-content: start;
  }
  body main .steps .allStepsAndImage .allSteps .step-container .step .step-content p {
    width: 100%;
  }
  body main .steps .allStepsAndImage img {
    display: block;
    mask-image: linear-gradient(to right, transparent 10%, black 30%, black 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 10%, black 30%, black 100%);
    max-width: 40%;
  }
}

/*# sourceMappingURL=styles.css.map */
