@-webkit-keyframes text-focus-in {
        0% {
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }
      @keyframes text-focus-in {
        0% {
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }
      .focusIn{
        -webkit-animation: text-focus-in 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-focus-in 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      }
 

 
    
  //-----------------------------
  @-webkit-keyframes scale-in-hor-left {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-in-hor-left {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
  }

        .scaleInSeparator{
                -webkit-animation: scale-in-hor-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940)  both;
                animation: scale-in-hor-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940)  both;
        }




//-----------------------------
@-webkit-keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

.fadeIn{
        -webkit-animation: fade-in-fwd 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: fade-in-fwd 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

    
//-----------------------------
@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

// listenGrowSection
@-webkit-keyframes show-in {
    0% {
        opacity: 0; scale: 10%;
    }
    100%{
        opacity: 1; scale: 100%;
    }
}
@keyframes show-in {
    0% {
        opacity: 0; scale: 10%;
    }
    100%{
        opacity: 1; scale: 100%;
    }
}

.showIn{
        -webkit-animation: show-in 1s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
        animation: show-in 1s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
}



@-webkit-keyframes slide-in-left {
        0% {
          -webkit-transform: translateX(-1000px);
                  transform: translateX(-1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-left {
        0% {
          -webkit-transform: translateX(-1000px);
                  transform: translateX(-1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }

.slideInNotBlur{
        -webkit-animation: slide-in-left 1s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
	        animation: slide-in-left 1s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
}



//subtitle animation
@-webkit-keyframes swing-in-top-fwd {
        0% {
          -webkit-transform: rotateX(-100deg);
                  transform: rotateX(-100deg);
          -webkit-transform-origin: top;
                  transform-origin: top;
          opacity: 0;
        }
        100% {
          -webkit-transform: rotateX(0deg);
                  transform: rotateX(0deg);
          -webkit-transform-origin: top;
                  transform-origin: top;
          opacity: 1;
        }
      }
      @keyframes swing-in-top-fwd {
        0% {
          -webkit-transform: rotateX(-100deg);
                  transform: rotateX(-100deg);
          -webkit-transform-origin: top;
                  transform-origin: top;
          opacity: 0;
        }
        100% {
          -webkit-transform: rotateX(0deg);
                  transform: rotateX(0deg);
          -webkit-transform-origin: top;
                  transform-origin: top;
          opacity: 1;
        }
      }
.swingIn{
        -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}



//animations exit

@-webkit-keyframes slide-out-blurred-left {
    0% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
                transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        -webkit-filter: blur(0);
                filter: blur(0);
            opacity: 1;
    }
    100% {


        -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
        -webkit-filter: blur(40px);
            filter: blur(40px);
        opacity: 0;
    }
  }

//steps section
//in
@-webkit-keyframes scale-in-ver-top {
        0% {
          -webkit-transform: scaleY(0);
                  transform: scaleY(0);
          -webkit-transform-origin: 100% 0%;
                  transform-origin: 100% 0%;
          opacity: 1;
        }
        100% {
          -webkit-transform: scaleY(1);
                  transform: scaleY(1);
          -webkit-transform-origin: 100% 0%;
                  transform-origin: 100% 0%;
          opacity: 1;
        }
      }
      @keyframes scale-in-ver-top {
        0% {
          -webkit-transform: scaleY(0);
                  transform: scaleY(0);
          -webkit-transform-origin: 100% 0%;
                  transform-origin: 100% 0%;
          opacity: 1;
        }
        100% {
          -webkit-transform: scaleY(1);
                  transform: scaleY(1);
          -webkit-transform-origin: 100% 0%;
                  transform-origin: 100% 0%;
          opacity: 1;
        }
      }

.scaleInVerTop{
        -webkit-animation: scale-in-ver-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: scale-in-ver-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

//out


//
@-webkit-keyframes slide-in-right {
        0% {
          -webkit-transform: translateX(1000px);
                  transform: translateX(1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-right {
        0% {
          -webkit-transform: translateX(1000px);
                  transform: translateX(1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
.slideInRight {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

      


      @-webkit-keyframes fade-in-right {
        0% {
          -webkit-transform: translateX(0px);
                  transform: translateX(0px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(-50px);
                  transform: translateX(-50px);
          opacity: 1;
        }
      }
      @keyframes fade-in-right {
        0% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
        opacity: 0;
        }
        100% {
        -webkit-transform: translateX(-50px);
                transform: translateX(-50px);
        opacity: 1;
        }
      }
      
      .fadeInRight{
        -webkit-animation: fade-in-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }


        @-webkit-keyframes fade-in-left {
                0% {
                  -webkit-transform: translateX(0px);
                          transform: translateX(0px);
                  opacity: 0;
                }
                100% {
                  -webkit-transform: translateX(50px);
                          transform: translateX(50px);
                  opacity: 1;
                }
              }
              @keyframes fade-in-left {
                0% {
                -webkit-transform: translateX(0px);
                        transform: translateX(0px);
                opacity: 0;
                }
                100% {
                -webkit-transform: translateX(50px);
                        transform: translateX(50px);
                opacity: 1;
                }
              }
              
        .fadeInLeft{
                -webkit-animation: fade-in-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }


        @-webkit-keyframes rotate-menu-hamburger {
                0% {
                        -webkit-transform: rotate(0deg);
                                transform: rotate(0deg);
                      }
                50% {
                        -webkit-transform: rotate(180deg);
                                transform: rotate(180deg);
                        }
                100% {
                        -webkit-transform: rotate(0deg);
                                transform: rotate(0deg);
                        }
              }
              @keyframes fade-in-left {
                0% {
                        -webkit-transform: rotate(0deg);
                                transform: rotate(0deg);
                      }
                50% {
                        -webkit-transform: rotate(180deg);
                                transform: rotate(180deg);
                        }
                100% {
                        -webkit-transform: rotate(0deg);
                                transform: rotate(0deg);
                        }
              }
              
        .rotateMenu{
                -webkit-animation: rotate-menu-hamburger 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: rotate-menu-hamburger 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
