:root {
  --vh: 1vh;
}
$vh: calc(var(--vh) * 1);

$font-family: 'Poppins', sans-serif;
$creamy-color: #FCF5DB ; 
$green-color: #2C503A; 
$green-border-color: #1C3325;
$font-color: #565348 ; 
$btn-primary-color: #fff;
$btn-secondary-color: $font-color;

$burger-color: #828078; // Color de las líneas
$background-color: #f8f2dd; // Color de fondo
$line-height: 6px; // Grosor de las líneas
$line-width: 100%; // Ancho de las líneas superior e inferior
$middle-line-width: 80%; // Ancho de la línea del medio
$line-spacing: 12px; // Espaciado entre líneas
$transition-speed: 0.3s; // Velocidad de la animación

// Definir una lista de elementos de texto comunes
$texto-elementos: p,button, span, h1, h2, h3, h4, h5, h6, a, li, blockquote;




@media (min-width: 768px) {
    h3{
      font-size: 18px !important;
    }
    p,button,li,a,input{
      font-size: 16px !important;
    }
    /* Tabletas */
    body{
      .popupHomeEmailBackground{
        .popupHomeEmail{
            width: 55%;
        }
    }
      main{
        .FAQSection{
          .againPopUpEmailFinal{
            width: 70%;
          }
        }
        .welcomeSection{
          h3{
            width: 70%;
          }
          p{
            width: 70%;
          }
          .chatBotPresentation{
            width: 50%;
          }
        }
        .againPopUpEmailFinal{
          // width: 70%;
          button{
            width: 70%;
          }
        } 
        .listenGrowContainer {
          .listenGrowContent {
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: start;
            .title-listenGrowContent{
              width: 100%;
            }
            .parametersAndImageContainer{
              width: 100%;

              .cardsParametersContainer {
                .cardParameter {
                  width: 100%;
                  &:hover{

                    transform: translateX(5%)
                  }
                }
              }
            }

          }
        }
      }

    }


    


    header{
      height: 80px;
      .navbar{  
          width: 90%;
      }
    }
    body{
    main {
      .listenGrowContainer {
        .listenGrowContent {
          align-items: center;
          .subtitle-listenGrowContent{
            width: 75%;
          }
          .parametersAndImageContainer {
            .cardsParametersContainer {
              .cardParameter {
                width: 75%;
              }
            }
          }
        }
      }
    }
  }
    .buttonBurgerMenu{
    .burger {


      span {
  
          &:nth-child(2) {
              width: $middle-line-width; // La línea del medio es más corta
              top: 50%;
              transform: translateY(-50%);
          }
  
          &:nth-child(1) {
              top: 6px ;
          }
  
          &:nth-child(3) {
              bottom: 6px ;
          }
      }
      &.open {
        span {
            &:nth-child(1) {
                top: 50%  ;
                transform: translateY(-50%) rotate(45deg) ;
            }

            &:nth-child(2) {
                opacity: 0; // Ocultar línea del medio
            }

            &:nth-child(3) {
                bottom: 50% ;
                transform: translateY(50%) rotate(-45deg) ;
            }
        }
    }
  

  }
  }
  .fullMenuHamburguerWithOverlay{
    .optionsNavbar{
      height: calc($vh * 7)
      ul{
        width: 70%;
      }
    }
  }
  .steps{
    .steps-title{
      h4{
        width: 70%;
      }
    }
    .step{
      .step-number-title{
        h4{
          width: 65%;
        }
        p{
          width: 4%;
        }
      }
      .step-content{
        div{
          width: 4%;
        }
        p{
          width: 65%;
        }
      }
    }
  }
  .FAQSection{
    h2{
      width: 70%;
    }
    .accordion{
      width: 70%;
    }
  }

  footer{
    .footerContent{
      width: 70%;
    }
  }
  }
  
  @media (min-width: 1024px) {
    /* Laptops */
    body{
      .popupHomeEmailBackground{
        .popupHomeEmail{
            width: 40%;
        }
    }
  }
    header{
      width: 72.5%;
      .navbar{

        .navbarItems{
          display: flex;
          align-items: center;
          gap: 2rem;
          font-weight: 400;


          .navbarButtonComoFunciona{
            opacity: 0.7;
            transition: .5s;
            &:hover{
              opacity: 1;
            }
          }
          .navbarButtonFAQ{
            opacity: 0.7;
            transition: .5s;
            &:hover{
              opacity: 1;
            }
          }
          .navbarButtonPreventa{
            
          }
          li{
            font-size: 14px;
            width: auto;
            cursor: pointer;
            font-weight: 500;
            color: #565348;
            button{
              cursor: pointer;
              background-color: $green-color;
              color: $creamy-color;
              font-family: $font-family;
              font-size: 14px;

              border-radius: 15px;
              padding-block: calc($vh * 1);
              padding-inline: 1.5rem;
              border: 1px solid $green-border-color;
              transition: .5s;
              &:hover{
                background-color: #213c2b;
                border: 1px solid #16281d;
              }
            }
          }


          
      }
      .buttonBurgerMenu{
        display: none;
      }
      }
    }
    main{

      .heroContainer{
        .plantHero1{
          height: 60%;
        }
        .plantHero2{
          height: 60%;

        }
        .heroContent{
          .buttonsContainerHero{
            flex-direction: row;
            gap: 20px;
          }
        }
      }



      .welcomeSection{
        .welcomeSection-image{
          img{
            width: 35%;
          }
        }
      }
      .steps{
        background-image: url(../assets/svg/backgroundSteps1.svg) , url(../assets/svg/backgroundSteps2.svg);
        background-size:  50% contain,   00% contain;
        background-position: left top, right bottom;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        .steps-title{
          width: 100%;
        }
        .allStepsAndImage{
          width: 85%;
        }
      }
    }
    footer{
      .footerContent{
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-block: calc(var(--vh) * 4);
        width: 80%;
        gap: calc(var(--vh) * 4);
        .footerLinks{
            width: 100%;
            display: flex;
            flex-direction: row;
            // justify-content: space-between;
            gap: 7rem;
        }
      }
    }
  }
  
  @media (min-width: 1440px) {
    /* Monitores grandes */
    
    body{
      
        .popupHomeEmailBackground{
          .popupHomeEmail{
              width: 35%;
          }
      }
    
    
    main{
      .sectionSmartphone1{
        flex-direction: row;
        gap: 4rem;
        .welcomeSection-textAndButton{
          justify-content: end;
          width: 30%;
          align-items: end;
          h3{
            width: 100%;
            text-align: end;
          }
          p{
            width: 100%;
            text-align: end;
          }
          .wsDesktop{
            display: block;
          }
        }
        .welcomeSection-image{
          width: 25%;
          img{
            width: 100%;
          }
            .wsMobile{
              display: none;
          }
        }
        
      }
      .communitySection{
        display: flex;
        flex-direction: row;
        .welcomeSection-image{
          display: flex;
          flex-direction: row;
          gap: 4rem;
          img{
            width: 25%;
          }
          div{
            width: 30%;
            h3{
              text-align: left;
              width: 100%;

            }
            p{
              text-align: left;
              width: 100%;

            }

          }
          
        }
        .communitySection-mobile{
          display: none;
        }
        div{

          .communitySection-desktop{
            display: block;
          }
        }
      }
      .FAQSection{
        .FAQAndFinalPopup{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: stretch;
          gap: 15px;
          width: 70%;
          .pregFrecContainer{
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 50%;
            .accordion {
              width: 100%;
              .accordion-item{
                margin-bottom: 0;
              }
            }
          }
          .againPopUpEmailFinal{
            background-image: url(../assets/svg/backgroundLastPopup.svg);
            background-size: cover;
            background-position: center;
            border-radius: 15px;
            width: 50%;
            flex-grow:1 ;
            height: auto;
            border: solid 1px #999483;
            margin-block: 0;
            button{
              width: 60%;
              background-color: $creamy-color;
              color: #7C7B67;
              border: solid 1px #7C7B67;
              &:hover{
                color: #5c4d4d;
                background-color:#e4dec780;
                border: solid 1px #5c5c4d;
            }
            }
          }
        }
      }
      .welcomeSection{
        .chatBotPresentation{
          width: 25%;
        }}
    .listenGrowContainer{
      .listenGrowContent{
        .parametersAndImageContainer{
          display: flex;
          align-items: center;
          justify-content: center;
          .cardsParametersContainer{
            width: 80%;
          }
          #responsiveImageCardParameter{
            display: block;
            mask-image: linear-gradient(to right, transparent 5%, black 15%, black 100%);
            -webkit-mask-image: linear-gradient(to right, transparent 5%, black 15%, black 100%);
    
            max-width: 60%;
          }
        }
      }
    }
    

    .steps{
      align-items: center;
      .steps-title{
        width: 100%;
        justify-content: center;
      }
      .allStepsAndImage{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .allSteps{
          .step-container{
            .step{
              .step-number-title{
                justify-content: start;
              }
              .step-content{
                justify-content: start;
                p{
                  width: 100%;
                }
              }
            }
          }
        }
        img{
          display: block;
          mask-image: linear-gradient(to right, transparent 10%, black 30%, black 100%);
          -webkit-mask-image: linear-gradient(to right, transparent 10%, black 30%, black 100%);
          max-width: 40%;
    
        }
      }
    }
    }

  }
}






















